package datalist

templ DescriptionList() {
	<dl class="divide-y divide-white/10 px-5">{ children... }
</dl>
}

templ DescriptionListItem(title string, value string) {
	<div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
		<dt class="text-sm/6 font-medium text-gray-100">{ title }</dt>
		<dd class="mt-1 text-sm/6 text-gray-400 sm:col-span-2 sm:mt-0">{ value }</dd>
	</div>
}
