package button

import "github.com/paper-indonesia/pivot-backoffice/views"

type ButtonProps struct {
    views.HXOption
    Text string
}

templ Button(props ButtonProps) {
    <button 
    type="button" 
    class={ ButtonClass + " " + ButtonPrimaryClass }
    {props.ToAttributes()...}
    >
		{ props.Text }
    </button>
}